html{
  font-size: 64.5%;
  box-sizing: border-box;
}
body,
#root{
  height: 100vh;
  margin:0;
}
body,input,select,textarea{
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}
.grid-container{
  display: grid;
  grid-template-areas: "header"
  "main" 
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr ;
  height: 100%;
}
a:hover{
color: #ff8000;
}
header{

  grid-area: header;
  font-size: large;
  font-style: initial;
  background-color: #2a4663;
  color:#ffffff ;
  align-items: center;
  display: flex;
  padding: 0.5rem;
}
header a{
  color:#ffffff ;
  text-decoration: none;



}
main{
  grid-area: main;
  font-size: medium;
  display: flexbox;
  background-color: #ffffff;
}
footer{
  grid-area: footer;
  background-color: #2a4663;
  color:#ffffff ;
  font-size: 5mm;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  
}